

.container{
  height: auto;
  width: auto;
  display: flex;
}

.left, .right{
  height: auto;
  width: 20vw;
  border: 2px solid black;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card{
  display: flex;
}
.btnDiv{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 2px solid black;
  border-top: 2px solid black;

}
.btnDiv button{
  border: 2px solid black;
  background-color: antiquewhite;
}